body {
	font-family: 'Lato', sans-serif;
	background-image: url("img/bg.jpeg");
}
.overlay-content {
	position: relative;
	top: 10%;
	width: 100%;
	text-align: center;
	text-decoration: double;
	margin-top: 30px;
	font-style: italic;
}
#client{
	width:100%;
	border-top: 1px solid rgba(58,58,58,0.03);
	border-bottom: 1px solid rgba(58,58,58,0.03);
	padding: 50px 0px;
	background-position: center;
	background-size: 1000px;
}
.client-heading{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-weight: bolder;
}
.c-box-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin:20px 0px;
}
.client-box {
	width:310px;
	height: 350px;
	background-color: #beb5b5;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin: 20px;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
}
.client-box img{
	width:120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
}
.client-box strong{
	color:#1c3548;
	margin:0px;
	font-size: 1.1rem;
	font-weight: 600;
	margin-top:10px;
}
.client-box p{
	color:#747474;
	font-size: 1.2rem;
	margin:0px;
	text-align: center;
	display: block;
	display: -webkit-box;
	max-width: 80%;
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.client-box a{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: #1db096;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.client-box a{
	width:140px;
	margin-top: 20px;
	border-radius: 10px;
	font-weight: bold;
}
.client-box:hover{
	transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
    background-color: #96f5e3;
	transition: all ease 0.2s;
}
.hire .hire-button {
	padding: 2rem 3rem;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.267);
	font-size: 1.6rem;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .2rem;
	margin-top: 10px;
	color: whitesmoke;
	transition: .3s ease background-color;
	border-radius: 10px;
	align-items: center;
}
.hire .hire-button:hover {
	background-color: black;
}
div.gallery {
	border: 1px solid #ccc;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
  }
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }
  
.main-login{
    width:150px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 155, 172);
    color:black;
    box-shadow: 5px 10px 30px rgba(90,118,253,0.5);
	transition-property: background-color, color;
	text-transform: uppercase;
	border-radius: 10px;
	margin-left: 150px;
}
.main-login:hover{
	color:black;
	background-color: rgb(235, 86, 116);
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}
.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}









